.notification-container {
  border-radius: 4px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 22px 20px;
  min-width: 166px;
  max-width: 400px;
  box-shadow: 0 20px 15px 0 rgba(0, 0, 0, 0.03);
  background-color: #ffffff;
  color: #252b33;

  .info {
    display: flex;

    & > svg {
      margin-right: 20px;
    }

    .message {
      h2 {
        font-size: 1.066667rem;
        font-weight: 500;
      }

      p {
        font-size: 0.93333rem;
      }
    }
  }

  & > button {
    background: transparent;
    outline: none;
    border: none;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    & > svg {
      width: 10px;
      height: 10px;
    }
  }
}
